

<div class="container mt-3">
  <h2>Tour List</h2>
  <div class="container mt-3">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Thêm
    </button>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Tên</th>
      <th>Giá</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of tourService.tourList index as i">
      <td>{{i+1}}</td>
      <td><a routerLink="/tour-detail" (click)="tourService.showTour(i)">{{t.name}}</a></td>
      <td>{{t.price}}</td>
      <td>
        <button type="button"  class="btn btn-warning" >Edit</button>
      </td>
      <td>
        <button type="button" (click)="delete(t.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>


  </table>
</div>
<br>

<table>

<thead style="column-span: all"><h1>Chi tiết tour</h1></thead>

<tbody>
<tr>
  <td>Tour du lịch: </td><td [innerText]="tourService.tours.name"></td>
</tr>
<tr>
  <td>Giá: </td><td [innerText]="tourService.tours.price"></td>
</tr>
<tr>
  <td>Mô tả: </td><td [innerText]="tourService.tours.describe"></td>
</tr>
</tbody>

</table>
