<!--<app-tour [tourList1] = "tourList"></app-tour>-->
<app-tour></app-tour>


<!--<div class="container mt-3">-->
<!--  <h2>Tour List</h2>-->
<!--  <div class="container mt-3">-->

<!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">-->
<!--      Thêm-->
<!--    </button>-->
<!--  </div>-->

<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>#</th>-->
<!--      <th>Tên</th>-->
<!--      <th>Giá</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let t of tourList index as i">-->
<!--      <td>{{i+1}}</td>-->
<!--      <td>{{t.name}}</td>-->
<!--      <td>{{t.price}}</td>-->
<!--      <td>-->
<!--        <button type="button" (click)="showEdit(t)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal1">Edit</button>-->
<!--      </td>-->
<!--      <td>-->
<!--        <button type="button" (click)="delete(t.id)" class="btn btn-danger">Delete</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->


<!--  </table>-->
<!--</div>-->

<!--&lt;!&ndash; Create &ndash;&gt;-->
<!--<div class="modal" id="myModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Thêm tour</h4>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Tên tour</label><br>-->
<!--          <input type="text" id="name" [(ngModel)]="tours.name">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Giá</label><br>-->
<!--          <input type="text" id="price" [(ngModel)]="tours.price">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Mô tả</label><br>-->
<!--          <input type="text" id="describe" [(ngModel)]="tours.describe">-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-success" (click)="create()" data-bs-dismiss="modal">Create</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash; Edit &ndash;&gt;-->
<!--<div class="modal" id="myModal1">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Sửa tour</h4>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="restart()"></button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Tên tour</label><br>-->
<!--          <input type="text" id="name1" [(ngModel)]="tours.name">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Giá</label><br>-->
<!--          <input type="text" id="price1" [(ngModel)]="tours.price">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label">Mô tả</label><br>-->
<!--          <input type="text" id="describe1" [(ngModel)]="tours.describe">-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-success" (click)="edit()" data-bs-dismiss="modal">Edit</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="restart()">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->



